DATABASE_URL="postgresql://myuser:mypassword@db:5432/painamnae_db"

ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8080
NUXT_PUBLIC_API_BASE=http://localhost:8080/api
JWT_SECRET=your_super_secret_jwt_key

CLOUDINARY_CLOUD_NAME=cloudinary_name
CLOUDINARY_API_KEY=cloudinary_api_key
CLOUDINARY_API_SECRET=api_secret

GOOGLE_MAPS_API_KEY=google_map_api
NUXT_PUBLIC_GOOGLE_MAPS_API_KEY=public_api_key

EMAIL_USER=email_for_sending_data
EMAIL_PASS=email_password

VAPID_PUBLIC_KEY=vapid_public_key
VAPID_PRIVATE_KEY=vapid_private_key
NUXT_PUBLIC_VAPID_KEY=nuxt_public_vapid_key
MAILTO=mailto:[email_for_sending_data]

ADMIN_EMAIL=admin@example.com
ADMIN_USERNAME=admin123
ADMIN_PASSWORD=123456789
ADMIN_FIRST_NAME=System
ADMIN_LAST_NAME=Administrator
