DATABASE_URL="postgresql://myuser:mypassword@db:5432/painamnae_db"

ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8080
NUXT_PUBLIC_API_BASE=http://localhost:8080/api
JWT_SECRET=your_super_secret_jwt_key

CLOUDINARY_CLOUD_NAME= dmicvyxru
CLOUDINARY_API_KEY=981736662861877
CLOUDINARY_API_SECRET=ZAu8eciRpzrBLyaEuJ4LsgZdXoc

GOOGLE_MAPS_API_KEY=AIzaSyBMqWvjlkMRy1KsQToHh9mPdAdsojReirI
NUXT_PUBLIC_GOOGLE_MAPS_API_KEY=AIzaSyBMqWvjlkMRy1KsQToHh9mPdAdsojReirI

EMAIL_USER=painamnae.team@gmail.com
EMAIL_PASS=uhwv wksg kfzb kroo

VAPID_PUBLIC_KEY=BE69yQBGaERtw7yxW886eSonk8nuVx7VG0gt__G6ASv9ghDxgL-zyK9pK7MIIN4W9DDWyHAeQdmHbcl32Ts9aG0
VAPID_PRIVATE_KEY=oLoaqeicYSRGF6UPQQ4hxclWFb8KXNTOYrBcOLOGHKo
NUXT_PUBLIC_VAPID_KEY=BE69yQBGaERtw7yxW886eSonk8nuVx7VG0gt__G6ASv9ghDxgL-zyK9pK7MIIN4W9DDWyHAeQdmHbcl32Ts9aG0
MAILTO=mailto:painamnae.team@gmail.com

ADMIN_EMAIL=admin@example.com
ADMIN_USERNAME=admin123
ADMIN_PASSWORD=123456789
ADMIN_FIRST_NAME=System
ADMIN_LAST_NAME=Administrator
